.ks__main-section {
    width: 100vw;
}

.ks__main-section__containers {
    display: flex;
    overflow-x: scroll;
    margin: 1rem;
    column-gap: 15px;
}

.ks__main-section__containers-container {
    background: linear-gradient(224deg, rgb(173 171 153) 0%, rgba(239, 240, 177, 1) 50%, rgb(245 247 174) 100%);
    padding: 15px 20px;
    border-radius: 8px;
}

.ks__main-section__containers-container-image img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.ks__main-section__containers-container-content {
    /* display: flex; */
}

.ks__main-section__containers-container-line {
    background: radial-gradient(circle at 30% -100%, #f5ff00 25%, rgb(129 122 8) 85%, rgb(217 222 27) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 5px;
    width: 100px;
    margin-top: 1rem;
}