* {
    margin: 0;
}

.gradient__text {
    background: linear-gradient(145deg, rgba(2, 8, 88, 1) 0%, rgba(1, 141, 158, 1) 52%, rgba(4, 18, 189, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.gradient__background {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(239, 240, 177, 1) 50%, rgba(235, 238, 130, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(239, 240, 177, 1) 50%, rgba(235, 238, 130, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(239, 240, 177, 1) 50%, rgba(235, 238, 130, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEE82', endColorstr='#FFFFFF', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(239, 240, 177, 1) 50%, rgba(235, 238, 130, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(239, 240, 177, 1) 50%, rgba(235, 238, 130, 1) 100%);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}